body
{
background-color:#f5f5f5;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
.navbar
{
height:68px!important;
background-color:#36454f;
}
.navbar-brand
{
font-size:45px;
}
.nav-item
{
font-size:18px;
}
.footer{
height:50px;
width:100%;
background-color:#36454f;
position:fixed;
bottom:0px;
left:0px;
color:white;
text-align:center;
padding-top:10px;
}
label
{
font-size:20px;
color:black;
}
.parent
{
display:flex;
justify-content:center;
align-items:center;
}
