<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3 border border-dark border-3 "  style="height:auto;max-width:32%;margin-bottom:200px; padding:20px;font-family: 'Inter', sans-serif;font-size:17px;">
    <div class="row   mb-3" style="margin-left:25px;margin-right:25px;">
        <div class="col-sm-5  text-center  bg-white" id="login" >
            <a href="{% url 'shop:login' %}" style="height:50px; width:150px;font-size:25px;font-family: 'Roboto Slab', serif;" class="btn " >LOGIN</a>
        </div>
         <div class="col-sm-2" ><span></span></div>
        <div class="col-sm-5 text-center"  id="signup">
            <a href="{% url 'shop:signup' %}" style="height:50px; font-size:25px;font-family: 'Roboto Slab', serif;color:white!important;width:150px;background-color:#232b2b;" class="btn " >SIGNUP</a>
        </div>
    </div>
<div>
    <h4 class="text-center fs-3" style="font-family: 'Roboto Slab', serif;">SIGN UP</h4>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">Username:</label>
        <input type="text" class="form-control" name="u"  placeholder="Enter Username">
    </div>
    <div class="mb-3">
        <label  class="form-label">Password:</label>
        <input type="password" class="form-control" name="p" placeholder="Enter password">
    </div>
    <div class="mb-3">
        <label  class="form-label">Confirm Password:</label>
        <input type="password" class="form-control" name="p1" placeholder="Confirm your password">
    </div>
    <div class="mb-3">
        <label  class="form-label">First_name:</label>
        <input type="text" class="form-control" name="f" placeholder="Enter your First_name">
    </div>
    <div class="mb-3">
        <label  class="form-label">Last_name:</label>
        <input type="text" class="form-control" name="l"  placeholder="Enter your Last_name">
    </div>
    <div class="mb-3">
        <label  class="form-label">Email:</label>
        <input type="email" class="form-control" name="e"  placeholder="Enter email address">
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control btn btn-success" >
    </div>
</form>
    </div>
</div>
{% endblock %}